@font-face {
  font-family: 'ietcons';
  src:  url('../fonts/ietcons.eot?a6adhs');
  src:  url('../fonts/ietcons.eot?a6adhs#iefix') format('embedded-opentype'),
    url('../fonts/ietcons.ttf?a6adhs') format('truetype'),
    url('../fonts/ietcons.woff?a6adhs') format('woff'),
    url('../fonts/ietcons.svg?a6adhs#ietcons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/*@font-face {
  font-family: 'ietcons';
  src:  url('https://assets.ietheme.com/fonts/ietcons.eot?a6adhs');
  src:  url('https://assets.ietheme.com/fonts/ietcons.eot?a6adhs#iefix') format('embedded-opentype'),
    url('https://assets.ietheme.com/fonts/ietcons.ttf?a6adhs') format('truetype'),
    url('https://assets.ietheme.com/fonts/ietcons.woff?a6adhs') format('woff'),
    url('https://assets.ietheme.com/fonts/ietcons.svg?a6adhs#ietcons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}*/

[class^="iecon-"], [class*=" iecon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ietcons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iecon-fire:before {
  content: "\e01c";
}
.iecon-energy:before {
  content: "\e020";
}
.iecon-speech:before {
  content: "\e02c";
}
.iecon-picture:before {
  content: "\e032";
}
.iecon-action-undo:before {
  content: "\e050";
}
.iecon-action-redo:before {
  content: "\e051";
}
.iecon-note:before {
  content: "\e060";
}
.iecon-music:before {
  content: "\e061";
}
.iecon-logout:before {
  content: "\e065";
}
.iecon-login:before {
  content: "\e066";
}
.iecon-list:before {
  content: "\e067";
}
.iecon-grid:before {
  content: "\e06a";
}
.iecon-cursor:before {
  content: "\e06e";
}
.iecon-calendar:before {
  content: "\e075";
}
.iecon-camcorder:before {
  content: "\e07e";
}
.iecon-cameras:before {
  content: "\e07f";
}
.iecon-cloud-download:before {
  content: "\e083";
}
.iecon-cloud-upload:before {
  content: "\e084";
}
.iecon-eye:before {
  content: "\e087";
}
.iecon-portfolio:before {
  content: "\e904";
}
.iecon-support:before {
  content: "\e905";
}
.iecon-tools-solid:before {
  content: "\e906";
}
.iecon-camera-post:before {
  content: "\e907";
}
.iecon-cross:before {
  content: "\e908";
}
.iecon-gift:before {
  content: "\e909";
}
.iecon-heart:before {
  content: "\e90a";
}
.iecon-paperclip:before {
  content: "\e90b";
}
.iecon-home:before {
  content: "\e90c";
}
.iecon-translate:before {
  content: "\e90d";
}
.iecon-pencil:before {
  content: "\e913";
}
.iecon-palette:before {
  content: "\e926";
}
.iecon-color-sampler:before {
  content: "\e927";
}
.iecon-shield:before {
  content: "\e967";
}
.iecon-shield-alert:before {
  content: "\e969";
}
.iecon-lock:before {
  content: "\e96b";
}
.iecon-unlock:before {
  content: "\e96d";
}
.iecon-key:before {
  content: "\e96e";
}
.iecon-cog:before {
  content: "\e972";
}
.iecon-recycle:before {
  content: "\e97f";
}
.iecon-star:before {
  content: "\e98d";
}
.iecon-flag:before {
  content: "\e990";
}
.iecon-at-sign:before {
  content: "\e995";
}
.iecon-envelope:before {
  content: "\e996";
}
.iecon-envelope-open:before {
  content: "\e997";
}
.iecon-paper-plane:before {
  content: "\e999";
}
.iecon-printer:before {
  content: "\e9b1";
}
.iecon-folder:before {
  content: "\e9ba";
}
.iecon-shuffle:before {
  content: "\e9ec";
}
.iecon-repeat:before {
  content: "\e9ee";
}
.iecon-bookmark:before {
  content: "\ea16";
}
.iecon-label:before {
  content: "\ea17";
}
.iecon-user:before {
  content: "\ea1e";
}
.iecon-cart:before {
  content: "\ea4d";
}
.iecon-tag:before {
  content: "\ea55";
}
.iecon-tags:before {
  content: "\ea56";
}
.iecon-calendar-full:before {
  content: "\ea89";
}
.iecon-delete:before {
  content: "\ea94";
}
.iecon-screen:before {
  content: "\ea98";
}
.iecon-phone:before {
  content: "\eaa5";
}
.iecon-tablet:before {
  content: "\eaab";
}
.iecon-laptop:before {
  content: "\eaad";
}
.iecon-launch:before {
  content: "\eab0";
}
.iecon-power-switch:before {
  content: "\eab8";
}
.iecon-power:before {
  content: "\eab9";
}
.iecon-quote-open:before {
  content: "\eae5";
}
.iecon-quote-close:before {
  content: "\eae6";
}
.iecon-undo2:before {
  content: "\ebd8";
}
.iecon-redo2:before {
  content: "\ebd9";
}
.iecon-sync:before {
  content: "\ebda";
}
.iecon-clock3:before {
  content: "\ebe8";
}
.iecon-download:before {
  content: "\ebf5";
}
.iecon-upload:before {
  content: "\ebf6";
}
.iecon-code:before {
  content: "\ec0b";
}
.iecon-link:before {
  content: "\ec17";
}
.iecon-thumbs-up:before {
  content: "\ec19";
}
.iecon-thumbs-down:before {
  content: "\ec1a";
}
.iecon-share:before {
  content: "\ec20";
}
.iecon-magnifier:before {
  content: "\ec22";
}
.iecon-menu:before {
  content: "\ec2b";
}
.iecon-chevron-up:before {
  content: "\ec39";
}
.iecon-chevron-down:before {
  content: "\ec3a";
}
.iecon-chevron-left:before {
  content: "\ec3b";
}
.iecon-chevron-right:before {
  content: "\ec3c";
}
.iecon-question-circle:before {
  content: "\ec57";
}
.iecon-chevron-up-circle:before {
  content: "\ec62";
}
.iecon-chevron-down-circle:before {
  content: "\ec63";
}
.iecon-chevron-left-circle:before {
  content: "\ec64";
}
.iecon-chevron-right-circle:before {
  content: "\ec65";
}
.iecon-focus:before {
  content: "\ec73";
}
.iecon-qrcode:before {
  content: "\f029";
}
.iecon-twitter:before {
  content: "\f099";
}
.iecon-facebook:before {
  content: "\f09a";
}
.iecon-pinterest:before {
  content: "\f0d2";
}
.iecon-google-plus:before {
  content: "\f0d5";
}
.iecon-linkedin:before {
  content: "\f0e1";
}
.iecon-weibo:before {
  content: "\f18a";
}
.iecon-qq:before {
  content: "\f1d6";
}
.iecon-wechat:before {
  content: "\f1d7";
}
.iecon-keypad-outline:before {
  content: "\f44f";
}
.iecon-more-outline:before {
  content: "\f469";
}
.iecon-more:before {
  content: "\f46a";
}
.iecon-account:before {
  content: "\e900";
}
.iecon-comments:before {
  content: "\e90e";
}
.iecon-comment:before {
  content: "\e90f";
}
.iecon-comment_outline:before {
  content: "\e910";
}
.iecon-date_range:before {
  content: "\e912";
}
.iecon-favorite:before {
  content: "\e915";
}
.iecon-favorite_border:before {
  content: "\e916";
}
.iecon-fiber_new:before {
  content: "\e918";
}
.iecon-insert_comment:before {
  content: "\e919";
}
.iecon-write:before {
  content: "\e92b";
}
.iecon-visibility:before {
  content: "\e920";
}
.iecon-watch_later:before {
  content: "\e928";
}
